{
  "development": [
    {
      "name": "primary",
      "engine": "crate",
      "url": "http://127.0.0.1:4200"
    }
  ]
  ,
  "test": [
    {
      "name": "primary",
      "engine": "crate",
      "url": "http://127.0.0.1:4200"
    }
  ]
}
