{
	"development": [
		{
			"name": "primary",
			"engine": "db2rest",
			"db_name": "db",
			"url": "http://127.0.0.1:7070/v1/rdbms/"
		}
	],
	"production": [
		{
			"name": "primary",
			"engine": "db2rest",
			"db_name": "db",
			"url": "http://127.0.0.1:7070/v1/rdbms/"
		}
	],
	"test": [
		{
			"name": "primary",
			"engine": "db2rest",
			"db_name": "db",
			"url": "http://127.0.0.1:7070/v1/rdbms/"
		}
	]
}
